.jumbotron {
	padding-top: 6rem;
}
section {
	padding-top: 5rem;
}
.merah {
	background-color: #f9004d;
}
.merah2 {
	background-color: #c9003e;
}
.hitam {
	background-color: #101010;
}
